<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste beatae, doloremque dicta minus architecto asperiores? Minima, doloremque aperiam! Totam, excepturi beatae. Consequuntur commodi quia voluptas laboriosam, voluptates unde sequi ipsum repudiandae consectetur et amet enim perspiciatis neque animi minima voluptatibus quis sunt vel eum deserunt, ratione quas nesciunt labore?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste beatae, doloremque dicta minus architecto asperiores? Minima, doloremque aperiam! Totam, excepturi beatae. Consequuntur commodi quia voluptas laboriosam, voluptates unde sequi ipsum repudiandae consectetur et amet enim perspiciatis neque animi minima voluptatibus quis sunt vel eum deserunt, ratione quas nesciunt labore?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste beatae, doloremque dicta minus architecto asperiores? Minima, doloremque aperiam! Totam, excepturi beatae. Consequuntur commodi quia voluptas laboriosam, voluptates unde sequi ipsum repudiandae consectetur et amet enim perspiciatis neque animi minima voluptatibus quis sunt vel eum deserunt, ratione quas nesciunt labore?</p>
  </div>
  
  <%- include("./partials/footer.ejs") %>
</body>
</html>
